.body_panel{
	height:auto;
	width: 1000px;
	margin: auto;
	
}

	.header_panel{
		max-height: 150px;
		width:100%;	
		margin: auto;
	}
		.logo{
			height:100px;
			width:100%;
			margin: auto; 
		}
		
		.menu{
			height: 50px;
			width:100%;
			margin: auto;
		}
		
		.welcome{
			height: 20px;
			width: 100%;
			margin: auto;
		}

	.main_panel{
		height: auto;
		min-height: 600px;
		width: 100%;
		margin: 25px auto;
	}
		.main_panel_left{
			height: auto;
			min-height: 600px;
			width: 20%;
			float: left;
		}
		.main_panel_middle{
			height: auto;
			min-height: 600px;
			width: 60%;
			float: left;
		}
		
		.main_panel_right{
			height: auto;
			min-height: 600px;
			width: 20%;
			float: left;
		}

	.footer_panel{
		height: 100px;
		width: 100%;
		margin:auto;
	}
	
.ui-widget{
	font-size:0.9em;
}

.ui-widget .ui-widget{
	font-size:0.9em;
}

label{
	font-size:0.9em;
}

.no_border tr , .no_border td{
	background: none !important;
    border: none !important;
}