.body_panel{
	height:auto;
	width: 930px;
	margin: auto;
	
}

	.header_panel{
		max-height: 150px;
		width:100%;	
		margin: auto;
	}
		.logo{
			height:122px;
			width:100%;
			margin: auto;
			background-image: url("#{resource['image:logo.png']}"); 
		}
		
		.menu{
			height: 50px;
			width:100%;
			margin: auto;
		}
		
		.welcome{
			height: 20px;
			width: 100%;
			margin: auto;
		}
		
		.bread_crumb{
			height:35px;
			width:auto;
			margin:auto;
		}
			.ui-breadcrumb ul li a{
				text-decoration: none;
			}

	.main_panel{
		height: auto;
		min-height: 600px;
		width: 100%;
		margin: 75px auto;
	}
		.main_panel_left{
			height: auto;
			min-height: 600px;
			width: 20%;
			float: left;
			margin:10px auto;
		}
		
			.profile_card{
				height: 270px;
				width: 100%;
			}
				.profile_picture{
					height: 150px;
					width: 150px;
					margin: 5px auto;
				}
				.profile_info{
					height: 20px;
					width: 150px;
					margin: 5px auto;
					text-align: center;
				}
				.edit_profile{
					height: 20px;
					width: 150px;
					margin: 5px auto;
					text-align: center;
				}
				
				
		.main_panel_middle{
			height: auto;
			min-height: 600px;
			width: 60%;
			float: left;
			margin:10px auto;
		}
		
		.main_panel_right{
			height: auto;
			min-height: 600px;
			width: 20%;
			float: left;
			margin:10px auto;
		}

	.footer_panel{
		height: 100px;
		width: 100%;
		margin:auto;
	}
	
.ui-widget{
	font-size:0.9em;
}

.ui-widget .ui-widget{
	font-size:0.9em;
}

label{
	font-size:0.9em;
	font-style: italic;
}

.no_border tr , .no_border td{
	background: none !important;
    border: none !important;
}