.body_panel{
	height:auto;
	width: 1024px;
	margin: auto;
}

	.header_panel{
		max-height: 150px;
		width:80%;	
		margin: auto;
	}
		.logo{
			height:100px;
			width:100%;
			margin: auto; 
		}
		
		.menu{
			height: 50px;
			width:100%;
			margin: auto;
		}

	.main_panel{
		height: auto;
		min-height: 600px;
		width: 80%;
		margin: auto;
	}

	.footer_panel{
		max-height: 100px;
		width: 80%;
		margin:auto;
	}